.todo__content {
        display: flex;
        padding: 0 40px;
        align-items: flex-start;

        & .add__tasks {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 1px;
            margin-left: 10px;
            margin-right: 10px;
            background: red;
            opacity: 0;

            & p {
                color: red;
                padding: 5px;
                font-size: 14px;
                text-align: center;
                white-space: nowrap;
                background: white;
            }
            
            &:hover {
                opacity: 1;
                cursor: pointer;
                transition: 0.4s;
            }
        }

        & .end__add {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 0px;
            border-radius: 5px;
            margin-right: 10px;
            margin-left: 10px;
            border: 0;

            & .end__add__button {
                @include button_text(black, #fafafa, red);
                width: 280px;
                background: #fafafa;
                padding: 5px 10px;
            }
        }

        & .main__items {
            display: flex;
            padding: 10px 10px;
            width: 310px;
            border-radius: 5px;
            margin-right: 10px;
            margin-left: 10px;
            flex-direction: column;

            & .item__header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .counter {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        margin-left: 10px;
                        font-size: 14px;
                        color: #B2B1AE;
                    }
                }
                   
                button {         
                    @include button_text(#B2B1AE, #EEEEEC, black);
                }
            }    

            // &:hover {
            //     border: 1px solid #EEEEEC;
            // }

            & .item__tasks {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                & .task {
                    width: 310px;
                    border-radius: 0.3rem;
                    border: 1px solid #EEEEEC;
                    min-height: 45px;
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 12px;
                    padding-top: 10px;

                    div {
                        padding: 0px 10px;
                    }
                }
                & .task:hover {
                    cursor: pointer;
                    box-shadow: -4px -4px 4px #EEEEEC, 4px 4px 4px #EEEEEC;
                    transition: 0.4s;
                }
            }            
            
            & .add__items {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    @include button_text(#B2B1AE ,white, red);

                    i {
                        font-size: 20px;
                    }

                    &:hover {
                        i {
                            background: red;
                            color: white;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }   
        & .main__items:hover {
            box-shadow: -2px -2px 2px #EEEEEC, 2px 2px 2px #EEEEEC;
            transition: 0.4s;
        }     
    }