.todo__content {
        display: flex;
        padding: 0 40px;
        align-items: flex-start;

        & .add__tasks {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 1px;
            margin-left: 10px;
            margin-right: 10px;
            background: red;
            opacity: 0;

            & p {
                color: red;
                padding: 5px;
                font-size: 14px;
                text-align: center;
                white-space: nowrap;
                background: white;
            }
            
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        & .end__add {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 20px;
            border-radius: 5px;
            margin-right: 10px;
            margin-left: 10px;

            & .end__add__button {
                display: flex;
                border: 0;
                width: 280px;
                background: #fafafa;
                align-items: center;
                padding: 5px 10px;

                &:hover {
                    color: red;
                    cursor: pointer;

                }
            }
        }

        & .main__items {
            display: flex;
            padding: 0px 10px;
            width: 310px;
            border-radius: 5px;
            margin-right: 10px;
            margin-left: 10px;
            flex-direction: column;

            & .item__header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .counter {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        margin-left: 10px;
                        font-size: 14px;
                        color: #B2B1AE;
                    }
                }
                   
                button {
                    display: flex;
                    align-items: center;
                    background: transparent;
                    border-style: none;                 
                    color: #B2B1AE;
    
                    span {
                        margin-left: 5px;
                    }

                    :hover {
                        background: #EEEEEC;
                        border-radius: 0.3rem;
                        color: black;
                        cursor: pointer;
                    }
                }
            }    

            // &:hover {
            //     border: 1px solid #EEEEEC;
            // }

            & .item__tasks {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                & .task {
                    width: 310px;
                    border-radius: 0.3rem;
                    border: 1px solid #EEEEEC;
                    padding: 10px 0px;
                    min-height: 35px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;
                }
            }
            
            & .add__items {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    padding: 3px 10px;
                    display: flex;
                    align-items: center;
                    background: transparent;
                    border-style: none;
                    color: #B2B1AE;
    
                    span {
                        margin-left: 5px;
                    }

                    &:hover {
                        color: red;
                        cursor: pointer;
                    }
                }
            }
        }
    }