@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";

@import "variables";
@import "mixins";
// @import "toolbar";
// @import "formula";
// @import "table";
// @import "dashboard";
// @import "loader";

.container {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        display: grid;
        grid-template-areas: 
          "header header"
          "nav title"
          "nav content"
          "footer footer";
        grid-template-rows: $header-height 80px 1fr 70px;  
        grid-template-columns: 17% 1fr;
        height: 100vh;
        margin: 0;

    /* Stack the layout on small devices/viewports. */
    @media all and (max-width: 575px) {
    .container { 
        grid-template-areas: 
        "header"
        "title"
        "content"
        "footer";
        grid-template-rows: 80px 70px 1fr 70px;  
        grid-template-columns: 1fr;
    }
    }

      #pageHeader {
        grid-area: header;
        }
      #mainNav {
        grid-area: nav;
        }
      #mainTitle { 
        grid-area: title;      
        }
      #mainContent { 
        grid-area: content; 
        }
      #pageFooter { 
        grid-area: footer; 
        }
    
    @import "header";
    @import "nav";
    @import "title";
    @import "content";
    @import "footer";
}